In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np 
import seaborn as sns

In [2]:
books=pd.read_csv("Books.csv") 
ratings = pd.read_csv("Ratings.csv")
users=pd.read_csv("Users.csv")

/var/folders/63/2gnzxxd10lv3m734r72wrw3c0000gn/T/ipykernel_3901/3503208606.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books=pd.read_csv("Books.csv")

In [3]:
print(books.shape)
print(ratings.shape)
print(users.shape)

(271360, 8)
(1149780, 3)
(278858, 3)

In [4]:
users.isnull().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [5]:
ratings.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [6]:
ratings.duplicated().sum()

0

In [7]:
users.duplicated().sum()

0

In [8]:
books.duplicated().sum()

0

In [9]:
famous_users=ratings.groupby("User-ID").count().drop("Book-Rating",axis=1)
final_users=pd.DataFrame()
final_users["User-ID"]=famous_users[famous_users["ISBN"]>=200].index
final_users

     User-ID
0        254
1       2276
2       2766
3       2977
4       3363
..       ...
900   275970
901   277427
902   277478
903   277639
904   278418

[905 rows x 1 columns]

In [10]:
ratings=ratings[ratings["User-ID"].isin(final_users["User-ID"])]

# Based on popularity

In [11]:
groupped=ratings.drop("User-ID",axis=1).groupby("ISBN")
count_of_ratings=groupped.count()  # count of ratings of each book
count_of_ratings=count_of_ratings[count_of_ratings["Book-Rating"]>=50] #selecting the books with more than 50 ratings 

a=pd.DataFrame()
a["ISBN"]=count_of_ratings.index[:] # jisse group by kiya tha use access karne ke liye

count_of_ratings=a

book_with_mean=count_of_ratings.merge(groupped.mean(),on="ISBN")

book_with_mean

           ISBN  Book-Rating
0    002542730X     2.050000
1    006016848X     2.074074
2    0060391626     1.610169
3    0060392452     3.756410
4    0060502258     2.537815
..          ...          ...
521  1558744150     2.676471
522  1558745157     2.803922
523  1559029838     1.304878
524  1573225789     2.500000
525  1573229326     1.963636

[526 rows x 2 columns]

In [141]:
mean_with_names=book_with_mean.merge(books,on="ISBN")

sorted_info=mean_with_names.sort_values(by=["Book-Rating"],ascending=False).reset_index().drop("index",axis=1)

sorted_info.drop_duplicates("Book-Title",inplace=True) # removing the duplicated rows

sorted_info

,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0439064864,5.596774,Harry Potter and the Chamber of Secrets (Book 2),J. K. Rowling,1999,Scholastic,http://images.amazon.com/images/P/0439064864.0...,http://images.amazon.com/images/P/0439064864.0...,http://images.amazon.com/images/P/0439064864.0...
1,0439136350,5.426471,Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,1999,Scholastic,http://images.amazon.com/images/P/0439136350.0...,http://images.amazon.com/images/P/0439136350.0...,http://images.amazon.com/images/P/0439136350.0...
2,0439139597,5.343284,Harry Potter and the Goblet of Fire (Book 4),J. K. Rowling,2000,Scholastic,http://images.amazon.com/images/P/0439139597.0...,http://images.amazon.com/images/P/0439139597.0...,http://images.amazon.com/images/P/0439139597.0...
3,043935806X,4.262136,Harry Potter and the Order of the Phoenix (Boo...,J. K. Rowling,2003,Scholastic,http://images.amazon.com/images/P/043935806X.0...,http://images.amazon.com/images/P/043935806X.0...,http://images.amazon.com/images/P/043935806X.0...
4,0446310786,3.863309,To Kill a Mockingbird,Harper Lee,1988,Little Brown &amp; Company,http://images.amazon.com/images/P/0446310786.0...,http://images.amazon.com/images/P/0446310786.0...,http://images.amazon.com/images/P/0446310786.0...
...,...,...,...,...,...,...,...,...,...
520,0743418131,0.655172,Deck the Halls (Holiday Classics),Mary Higgins Clark,2002,Pocket,http://images.amazon.com/images/P/0743418131.0...,http://images.amazon.com/images/P/0743418131.0...,http://images.amazon.com/images/P/0743418131.0...
521,0140092323,0.640000,Lake Wobegon days,Garrison Keillor,1986,Penguin Books,http://images.amazon.com/images/P/0140092323.0...,http://images.amazon.com/images/P/0140092323.0...,http://images.amazon.com/images/P/0140092323.0...
522,0553282476,0.553571,CAT'S EYE,MARGARET ATWOOD,1989,Bantam,http://images.amazon.com/images/P/0553282476.0...,http://images.amazon.com/images/P/0553282476.0...,http://images.amazon.com/images/P/0553282476.0...
523,0553571818,0.460000,Long After Midnight,IRIS JOHANSEN,1997,Bantam,http://images.amazon.com/images/P/0553571818.0...,http://images.amazon.com/images/P/0553571818.0...,http://images.amazon.com/images/P/0553571818.0...
524,0971880107,0.435616,Wild Animus,Rich Shapero,2004,Too Far,http://images.amazon.com/images/P/0971880107.0...,http://images.amazon.com/images/P/0971880107.0...,http://images.amazon.com/images/P/0971880107.0...

In [13]:
sorted_info

,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0439064864,5.596774,Harry Potter and the Chamber of Secrets (Book 2),J. K. Rowling,1999,Scholastic,http://images.amazon.com/images/P/0439064864.0...,http://images.amazon.com/images/P/0439064864.0...,http://images.amazon.com/images/P/0439064864.0...
1,0439136350,5.426471,Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,1999,Scholastic,http://images.amazon.com/images/P/0439136350.0...,http://images.amazon.com/images/P/0439136350.0...,http://images.amazon.com/images/P/0439136350.0...
2,0439139597,5.343284,Harry Potter and the Goblet of Fire (Book 4),J. K. Rowling,2000,Scholastic,http://images.amazon.com/images/P/0439139597.0...,http://images.amazon.com/images/P/0439139597.0...,http://images.amazon.com/images/P/0439139597.0...
3,043935806X,4.262136,Harry Potter and the Order of the Phoenix (Boo...,J. K. Rowling,2003,Scholastic,http://images.amazon.com/images/P/043935806X.0...,http://images.amazon.com/images/P/043935806X.0...,http://images.amazon.com/images/P/043935806X.0...
4,0446310786,3.863309,To Kill a Mockingbird,Harper Lee,1988,Little Brown &amp; Company,http://images.amazon.com/images/P/0446310786.0...,http://images.amazon.com/images/P/0446310786.0...,http://images.amazon.com/images/P/0446310786.0...
...,...,...,...,...,...,...,...,...,...
520,0743418131,0.655172,Deck the Halls (Holiday Classics),Mary Higgins Clark,2002,Pocket,http://images.amazon.com/images/P/0743418131.0...,http://images.amazon.com/images/P/0743418131.0...,http://images.amazon.com/images/P/0743418131.0...
521,0140092323,0.640000,Lake Wobegon days,Garrison Keillor,1986,Penguin Books,http://images.amazon.com/images/P/0140092323.0...,http://images.amazon.com/images/P/0140092323.0...,http://images.amazon.com/images/P/0140092323.0...
522,0553282476,0.553571,CAT'S EYE,MARGARET ATWOOD,1989,Bantam,http://images.amazon.com/images/P/0553282476.0...,http://images.amazon.com/images/P/0553282476.0...,http://images.amazon.com/images/P/0553282476.0...
523,0553571818,0.460000,Long After Midnight,IRIS JOHANSEN,1997,Bantam,http://images.amazon.com/images/P/0553571818.0...,http://images.amazon.com/images/P/0553571818.0...,http://images.amazon.com/images/P/0553571818.0...
524,0971880107,0.435616,Wild Animus,Rich Shapero,2004,Too Far,http://images.amazon.com/images/P/0971880107.0...,http://images.amazon.com/images/P/0971880107.0...,http://images.amazon.com/images/P/0971880107.0...

# Collaborative filtering

In [15]:
famous_books_users=ratings[ratings["ISBN"].isin(count_of_ratings["ISBN"])]
famous_books_users=famous_books_users[famous_books_users["ISBN"].isin(books["ISBN"])]
famous_books_users

         User-ID        ISBN  Book-Rating
1456      277427  002542730X           10
1469      277427  0060930535            0
1471      277427  0060934417            0
1474      277427  0061009059            9
1484      277427  0140067477            0
...          ...         ...          ...
1147208   275970  0743412028            0
1147304   275970  0804111359            0
1147436   275970  140003065X            0
1147440   275970  1400031354            0
1147441   275970  1400031362            0

[41914 rows x 3 columns]

In [17]:
famous_books_users=famous_books_users[famous_books_users["ISBN"].isin(popular["ISBN"])]
famous_books_users

         User-ID        ISBN  Book-Rating
1456      277427  002542730X           10
1469      277427  0060930535            0
1471      277427  0060934417            0
1474      277427  0061009059            9
1484      277427  0140067477            0
...          ...         ...          ...
1147208   275970  0743412028            0
1147304   275970  0804111359            0
1147436   275970  140003065X            0
1147440   275970  1400031354            0
1147441   275970  1400031362            0

[40996 rows x 3 columns]

In [18]:
pt=famous_books_users.pivot_table(index="ISBN",columns="User-ID",values="Book-Rating").fillna(0)

In [19]:
pt

User-ID,254,2276,2766,2977,3363,4017,4385,6242,6251,6323,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
ISBN,,,,,,,,,,,,,,,,,,,,,
002542730X,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0
006016848X,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0060391626,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0060392452,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,0.0,...,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0060502258,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1558744150,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1558745157,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1559029838,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1573225789,0.0,0.0,0.0,0.0,0.0,9.0,0.0,7.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1573229326,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [20]:
from sklearn.metrics.pairwise import cosine_similarity

In [21]:
similarity_scores=cosine_similarity(pt)

In [22]:
similarity_scores=pd.DataFrame(similarity_scores)

In [23]:
similarity_scores

,0,1,2,3,4,5,6,7,8,9,...,505,506,507,508,509,510,511,512,513,514
0,1.000000,0.049489,0.057467,0.075598,0.056769,0.106753,0.000000,0.026162,0.028949,0.067371,...,0.079950,0.041300,0.049146,0.030356,0.087936,0.043495,0.091957,0.050441,0.042635,0.130204
1,0.049489,1.000000,0.100488,0.082254,0.092131,0.000000,0.000000,0.043569,0.000000,0.000000,...,0.047257,0.000000,0.000000,0.053080,0.034171,0.076057,0.083172,0.088203,0.074552,0.072443
2,0.057467,0.100488,1.000000,0.032747,0.115269,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.091915,0.000000,0.000000,0.061637,0.044638,0.088317,0.144868,0.102421,0.155825,0.084121
3,0.075598,0.082254,0.032747,1.000000,0.025372,0.060011,0.000000,0.047920,0.084543,0.063723,...,0.076199,0.054478,0.114704,0.000000,0.000000,0.000000,0.000000,0.066537,0.072379,0.083611
4,0.056769,0.092131,0.115269,0.025372,1.000000,0.000000,0.000000,0.127664,0.036889,0.083662,...,0.203282,0.123991,0.128437,0.105915,0.074704,0.123168,0.101579,0.070758,0.047790,0.089384
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
510,0.043495,0.076057,0.088317,0.000000,0.123168,0.038311,0.064692,0.000000,0.136136,0.060086,...,0.062300,0.000000,0.034711,0.195936,0.084464,1.000000,0.073098,0.077520,0.107457,0.167358
511,0.091957,0.083172,0.144868,0.000000,0.101579,0.047131,0.000000,0.038158,0.043786,0.040092,...,0.045419,0.000000,0.047448,0.116607,0.435227,0.073098,1.000000,0.144112,0.128973,0.069625
512,0.050441,0.088203,0.102421,0.066537,0.070758,0.061707,0.000000,0.000000,0.000000,0.112200,...,0.108374,0.000000,0.000000,0.102192,0.000000,0.077520,0.144112,1.000000,0.136776,0.073837
513,0.042635,0.074552,0.155825,0.072379,0.047790,0.110572,0.000000,0.059117,0.065413,0.128776,...,0.123662,0.105075,0.047256,0.045728,0.070871,0.107457,0.128973,0.136776,1.000000,0.099855
514,0.130204,0.072443,0.084121,0.083611,0.089384,0.000000,0.000000,0.028136,0.032689,0.053351,...,0.118680,0.102678,0.146943,0.044435,0.082750,0.167358,0.069625,0.073837,0.099855,1.000000

In [24]:
def isbn2name(isbn):
    return books[books["ISBN"]==isbn]["Book-Title"].values[0]

def isbn2ind(isbn):
    return np.where(pt.index==isbn)[0][0]



def similar(isbn):
    
    ind=isbn2ind(isbn)
    
    recommended_ind=sorted(list(enumerate(np.array(similarity_scores.iloc[:,ind]))),key=lambda x:x[1],reverse=True)[1:21]
    names=[isbn]

    for i in recommended_ind:
        names.append(pt.index[i[0]])
    return names

In [25]:
cols=["ISBN"]
for i in range(1,21):
    cols.append(f'{i}')

In [26]:
similar_books = pd.DataFrame(columns=cols)

In [27]:
c=0
for i in pt.index:
    similar_books.loc[c]=similar(i)
    c+=1

In [28]:
similar_books

,ISBN,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,002542730X,0446608890,0804108749,080411109X,0345422317,0385492081,0446602620,0060958022,0451184963,067102423X,...,0553574574,044022103X,0440224675,0440219078,0743436210,0316096199,0060987103,0345370775,0140092323,0679745203
1,006016848X,0446604801,0440193613,055357230X,0345422317,0446612545,0373484224,0385508042,0671011367,0515122734,...,0316781266,055356160X,0743418204,0064472272,051513287X,044651862X,0425158616,0446610038,038550926X,0375727345
2,0060391626,0743436210,0345427637,0425167313,0743225406,0446608890,0671014919,0142000205,0140067477,044651862X,...,0385479565,0374199698,0449223612,0345361792,0743460529,0553277472,0446604801,014100018X,0804105820,0440201926
3,0060392452,0671004107,0425145638,0446532231,0345380371,0804114986,0385484518,0060938455,0446670251,0553275976,...,0441003257,067088300X,0679772677,0804111359,0345370775,0375727345,0446359866,0316780375,0345361792,0449907481
4,0060502258,0743225406,080411109X,0312966970,0312278586,0553280341,1400031354,042511774X,0679744398,0425189031,...,0345342968,0375703055,0312966091,0515131229,0804106304,0671886665,0449219364,0515132020,0312195516,038079487X
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
510,1558744150,0375703055,0671525743,0440122090,0375702709,0515122734,0515127833,055356160X,0515133973,0553569910,...,0743437640,0440221595,0064407667,0380730138,0671014919,0440200563,0375707972,051511992X,0425162443,0515120618
511,1558745157,1558743669,0671004530,0440200989,0385336179,0553279378,038542017X,0842329218,0842329129,0671042572,...,0679745203,0671568175,0449221490,0345422317,0385508042,0671014196,0842329242,0671867091,0684872153,0553279556
512,1559029838,0671867172,0440234743,0425155404,074343627X,0345361792,0743225406,0449221482,0671042858,0553572997,...,0312305060,0385492081,0425107469,0385479565,0609804138,042516098X,0515133973,0070212570,038079487X,044022103X
513,1573225789,0452264464,0385265700,0671888587,0380730138,0060987561,0449221490,067976402X,0316666343,0671693816,...,0345422317,0446310786,0316096199,014025448X,0553280341,0670892963,0060391626,0671042572,0312282990,0345378482
514,1573229326,0804108749,0375502238,0312305060,0679745203,0684801523,0064407675,0345422317,0446675059,0671001795,...,0316168688,0671042262,0440200563,0671002481,0060987561,0312195516,0671525743,0446607711,038542017X,0345361792

In [29]:
similar_books.to_csv("collaboratve_filter.csv")

In [30]:
st="hello "

In [32]:
st.index(" ",15)

ValueError: substring not found